exclude *.cfg
exclude .*
exclude package.json
exclude requirements.txt
graft src/buildout_helpers
include *.rst
prune docs
prune external_buildouts
recursive-exclude src *.pyc
recursive-exclude src .*un~
