# File managed by freeze command from buildout_helpers
# Changes will be overwritten
# ETAG: "9a7e9ef598d41573e746f70e6e9396f5e7fd750b"
# ORIGIN: http://raw.githubusercontent.com/collective/buildout.plonetest/master/plone-4.3.x.cfg
[buildout]
extends = dist.plone.org_release_4.3-latest_versions.cfg
find-links =
    http://dist.plone.org/release/4.3-latest/
    http://dist.plone.org/thirdparty/

develop = .
eggs =
unzip = true
versions = versions

parts = instance

package-name =

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    plone.app.upgrade
    ${buildout:package-name}
    ${buildout:eggs}
zcml =
    ${buildout:package-name}
environment-vars = zope_i18n_compile_mo_files true
